<!DOCTYPE html>
<html>
<!-- TODO: 
	figure out how to transfer totalOptions from login.js to login.ejs.
	find out which options the user submitted, and calculate score from it.  -->
	
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <body>    
  
    <p>Trivia time!</p>

    <form method="get" action="/game">

    <h3 id="q1"><%= currentQuestionText%></h3>
 	
 
 	
 	<p><input type="radio", name = "0"><%= currentOptions[0]%></input></p>
	<p><input type="radio", name = "1"><%= currentOptions[1]%></input></p>
	<p><input type="radio", name = "2"><%= currentOptions[2]%></input></p>
	<p><input type="radio", name = "3"><%= currentOptions[3]%></input></p>
	<p><button type="submit" onclick="test()" class="btn btn-warning btn-lg">Submit</button></p>
	

	<script type="text/javascript">
	


	</form>
	
	
	
	
	<script type="text/javascript">
	
	
	function test() {
		var options = document.getElementsByName("options");
		console.log(options);
		for(var option in options) {
			console.log(option.value);
			if (option.checked) {
				alert("option checked was" + option.value);
			}
		}
	}
	
	</script>
	
  </body>
</html>