<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
  
    <!-- <p><%= result %></p> -->
    <h1>Trivia time!</h1>

    <form method="get" action="/login">

    <p id="q1">Which of the following actors were in Titanic?</p>
 
	<p><input type="radio", name = "1"><%= totalOptions[0][0]%></input></p>
	<p><input type="radio", name = "2"><%= totalOptions[0][1]%></input></p>
	<p><input type="radio", name = "3"><%= totalOptions[0][2]%></input></p>
	<p><input type="radio", name = "4"><%= totalOptions[0][3]%></input></p>


	<p id="q1">Which of the following actors were in 300?</p>
 
	<p><input type="radio", name = "1"><%= totalOptions[1][0]%></input></p>
	<p><input type="radio", name = "2"><%= totalOptions[1][1]%></input></p>
	<p><input type="radio", name = "3"><%= totalOptions[1][2]%></input></p>
	<p><input type="radio", name = "4"><%= totalOptions[1][3]%></input></p>

	
	<p><button type="submit" class="btn btn-warning btn-lg">Submit</button></p>
	
	</form>
	
  </body>
</html>
